parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

session:
	expiration: 30 days

services:
    router: App\Router\RouterFactory::createRouter
    authenticator: App\Security\Authenticator
    decorator.request:
        class: App\Api\V1\Entity\Station
        tags: [apitte.core.decorator: [priority: 50]]

extensions:
    translation: Contributte\Translation\DI\TranslationExtension
    - Nittro\Bridges\NittroDI\NittroExtension
    nextras.orm: Nextras\Orm\Bridges\NetteDI\OrmExtension
    dbal: Nextras\Dbal\Bridges\NetteDI\DbalExtension
    api: Apitte\Core\DI\ApiExtension


dbal:
	driver: mysqli
	host: localhost
	database: ibt_database
	username: root
	password: 75369512369rpi

nextras.orm:
    model: App\Models\Orm\Orm

translation:
    locales:
        whitelist: [en, cs]
        default: cs
        fallback: [cs]
    dirs:
        - %appDir%/lang
    localeResolvers:
        - Contributte\Translation\LocalesResolvers\Router

api:
    debug: true
    catchException: false # Sets if exception should be catched and transformed into response or rethrown to output (debug only)
    plugins:
        Apitte\Middlewares\DI\MiddlewaresPlugin:
        Apitte\Core\DI\Plugin\CoreDecoratorPlugin:
        Apitte\Core\DI\Plugin\CoreMappingPlugin:
            request:
                validator: Apitte\Core\Mapping\Validator\BasicValidator
        Apitte\OpenApi\DI\OpenApiPlugin:
            definition:
                openapi: "3.0.2"
                info:
                    title: Attendance system API
                    version: "1.0.0"
                    description: "This API provide complete access to data. Almost every request requires token of user that is administrator due to security reasons."
                servers:
                  - url: https://192.168.1.103
                    description: Main RPi server. Local network address.