parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days

services:
    router: App\Router\RouterFactory::createRouter
    authenticator: App\Security\Authenticator

extensions:
    translation: Contributte\Translation\DI\TranslationExtension
    - Nittro\Bridges\NittroDI\NittroExtension

translation:
    locales:
        whitelist: [en, cs]
        default: cs
        fallback: [cs]
    dirs:
        - %appDir%/lang
    localeResolvers:
        - Contributte\Translation\LocalesResolvers\Router
