{define col-start}
    <td class="grid-col-start">
        {date_format($row->start,"d.m.Y H:i:s")}
    </td>
{/define}

{define col-end}
    <td class="grid-col-end">
        {date_format($row->end,"d.m.Y H:i:s")}
    </td>
{/define}