

{define col-registrationDate}
    <td class="grid-col-registrationDate">
        {date_format($row->registrationDate,"d.m.Y H:i:s")}
    </td>
{/define}

{define col-lastLogin}
    <td class="grid-col-lastLogin">
        {ifset $row->lastLogin}
            {date_format($row->lastLogin,"d.m.Y H:i:s")}
        {/ifset}
    </td>
{/define}




{define row-actions}
    {if $row->permission<$permission || $permission==3}<a href="{link edit! $primary}" data-datagrid-edit class="ajax btn btn-primary btn-xs m-1">{_all.edit}</a>
    <a href="{plink :Main:Manager:assignRfidToUser $primary}" class="btn btn-primary btn-xs m-1">{_all.assignRfid}</a>
    <a href="{plink :Main:Manager:userStationsPerms $primary}" class="btn btn-primary btn-xs m-1">{_all.permission}</a>{/if}
    <a href="{plink :Main:Manager:userShifts $primary}" class="btn btn-primary btn-xs m-1">{_all.shifts}</a>
{/define}


{define col-registration}
    <td class="grid-col-registration">
        {if $cell==0}
            {_all.noB}
        {else}
            {_all.yesB}
        {/if}
    </td>
{/define}

{define col-filter-registrationDate}
    {formContainer registrationDate}
        <div class="text-center">
            {input from}&nbsp;-&nbsp;
            {input to}
        </div>
    {/formContainer}
{/define}

{define col-filter-lastLogin}
    {formContainer lastLogin}
        <div class="text-center">
            {input from}&nbsp;-&nbsp;
            {input to}
        </div>
    {/formContainer}
{/define}
