createdAt: "Datum/Čas vytvoření"
assignRfid: "Přiřadit RFID"
selectedRfid: "Vybrané RFID: "
currentSettings: "Současné nastavení"
user: "Uživatel"
success: "Operace proběhla úspěšně"
error: "Při zpracování požadavku došlo k chybě!"
filter: "Filtrovat data"
cancel: "Zrušit"
nodata: "Nebyly nalezeny žádné výsledky. Zkuste změnit filtry tabulky."
all: "Vše"
edit: "Upravit"
save: "Uložit"
do: "Provést"
activateUsers: "Aktivovat účty"
deactivateUsers: "Deaktivovat účet"
stationsPerms: "Výpis oprávnění na stanicích"
doc: "Dokumentace"
myStations: "Moje stanice"
newPerm: "Nové oprávnění"
none: "Žádné"
basic: "Pouze čip"
twoPhase: "Čip a PIN"
admin: "Čip a PIN => Režim správce"
permission: "Opravnění"
stationMode: "Režim stanice"
stationName: "Jméno stanice"
normalMode: "Normální režim"
checkOnlyMode: "Pouze docházka"
delete: "Smazat"
summary: "Souhrn"
accessMode: "Režim přístupu"
badAccessMode: "Vybraný přístupový režim není pro danou stanici dostupný!"
alreadyExists: "Tento záznam již existuje!"