createdAt: "Created at"
assignRfid: "Assign RFID"
selectedRfid: "Selected RFID: "
currentSettings: "Current settings"
user: "User"
success: "Operation was succesfull"
filter: "Filter data"
cancel: "Cancel"
nodata: "No records found. Try modify filters in table."
all: "All"
edit: "Edit"
error: "Error occurs while processing request!"
save: "Save"
do: "Do"
activateUsers: "Activate accounts"
deactivateUsers: "Deactivate accounts"
stationsPerms: "List of permissions on stations"
doc: "Documentation"
myStations: "My stations"
newPerm: "New permission"
none: "None"
basic: "Only smart card"
twoPhase: "Smart card and pin code"
admin: "Smart card and pin code => Administrator mode"
permission: "Permission"
stationMode: "Station mode"
stationName: "Station name"
normalMode: "Normal mode"
checkOnlyMode: "Attendance only"
delete: "Delete"
summary: "Summary"
accessMode: "Access mode"
badAccessMode: "Selected access mode is not supported for selected station!"
alreadyExists: "This entry already exists!"
stationManager: "Stations management"
name: "Name"
description: "Description"
lastUpdate: "Last update of data"
apiToken: "API token"
generateApi: "New API token"
really: "Are you sure you want to continue? This change is irreversible!"
reallyStationEdit: "Are you sure you want to continue?\\nIf you change station mode, it can result in losing user priviliges to station!\\nThis change is irreversible!\\nFor more inforamtions visit Documenation."
registration: "Approved account?"
registrationDate: "Registration date"
lastLogin: "Last date and time of login"
newRfidManager: "New RFIDs manager"
accessLog: "Access log"
users: "Users"
granted: "Granted"
denied: "Denied"
datetime: "Date / Time"
status: "Status"
removeRfid: "Remove RFID"
previous: "Previous"
next: "Next"
stations: "Stations"
yesB: "YES"
yes: "Yes"
no: "No"
noB: "NO"
Do: "Do"
datetimeRegistration: "Date/Time of registration"
detail: "Detail"
