createdAt: "Created at"
assignRfid: "Assign RFID"
selectedRfid: "Selected RFID: "
currentSettings: "Current settings"
user: "User"
success: "Operation was succesfull"
filter: "Filter data"
cancel: "Cancel"
nodata: "No records found. Try modify filters in table."
all: "All"
edit: "Edit"
error: "Error occurs while processing request!"
save: "Save"
do: "Do"
activateUsers: "Activate accounts"
deactivateUsers: "Deactivate accounts"
stationsPerms: "List of permissions on stations"
doc: "Documentation"
myStations: "My stations"

none: "None"
basic: "Only smart card"
twoPhase: "Smart card and pin code"
admin: "Smart card and pin code => Administrator mode"
permission: "Permission"
stationMode: "Station mode"
stationName: "Station name"
normalMode: "Normal mode"
checkOnlyMode: "Attendance only"
delete: "Delete"