createdAt: "Datum/Čas vytvoření"
assignRfid: "Přiřadit RFID"
selectedRfid: "Vybrané RFID: "
currentSettings: "Současné nastavení"
user: "Uživatel"
success: "Operace proběhla úspěšně"
error: "Při zpracování požadavku došlo k chybě!"
filter: "Filtrovat data"
cancel: "Zrušit"
nodata: "Nebyly nalezeny žádné výsledky. Zkuste změnit filtry tabulky."
all: "Vše"
edit: "Upravit"
save: "Uložit"
do: "Provést"
activateUsers: "Aktivovat účty"
deactivateUsers: "Deaktivovat účet"
stationsPerms: "Výpis oprávnění na stanicích"
doc: "Dokumentace"
myStations: "Moje stanice"
newPerm: "Nové oprávnění"
none: "Žádné"
basic: "Pouze čip"
twoPhase: "Čip a PIN"
admin: "Čip a PIN => Režim správce"
permission: "Opravnění"
stationMode: "Režim stanice"
stationName: "Jméno stanice"
normalMode: "Normální režim"
checkOnlyMode: "Pouze docházka"
delete: "Smazat"
summary: "Souhrn"
accessMode: "Režim přístupu"
badAccessMode: "Vybraný přístupový režim není pro danou stanici dostupný!"
alreadyExists: "Tento záznam již existuje!"
stationManager: "Správa stanic"
name: "Jméno"
description: "Popis"
lastUpdate: "Poslední aktualizace dat"
apiToken: "API klíč"
generateApi: "Nový API klíč"
really: "Opravdu chcete pokračovat? Tato změna je nevratná!"
reallyStationEdit: "Opravdu chcete pokračovat?\\nPři změně režimu stanice může dojít ke ztracení opravnění uživatelů!\\nTato změna je nevratná! Pokud si nejste jisti co děláte, klikněte na ZRUŠIT!\\nPro více informací navštivte Dokumentaci."
registration: "Schválený účet?"
registrationDate: "Datum registrace"
lastLogin: "Datum/Čas posledního přihlášení"
newRfidManager: "Správce nových RFID"
accessLog: "Výpis přístupů"
users: "Uživatelé"
granted: "Povoleno"
denied: "Zamítnuto"
datetime: "Datum / Čas"
status: "Stav"
removeRfid: "Odstranit RFID"
previous: "Předchozí"
next: "Následující"
stations: "Stanice"
yesB: "ANO"
yes: "Ano"
no: "Ne"
noB: "NE"
Do: "Provést"
datetimeRegistration: "Datum/Čas registrace"
detail: "Detail"
myShifts: "Moje směny"
comment: "Komentář"
note: "Poznámka"
start: "Začátek"
end: "Konec"
actualArrival: "Skutečný příchod"
actualDeparture: "Skutečný odchod"
presentUsers: "Přítomní uživatelé"
firstName: "Křestní jméno"
surName: "Příjmení"
markRead: "Označit vše jako přečtené"
showAll: "Zobrazit vše"
EARLY_DEPARTURE: "Brzký odchod"
minutes: "minut"
hours: "hodin"
days: "dní"
notifications: "Upozornění"
shiftsManager: "Správa směn"
settings: "Nastavení"
newShift: "Nová směna"
badShiftTime: "Konec směny musí být později než začátek!"