filter: "Filtrovat data"
cancel: "Zrušit"
nodata: "Nebyly nalezeny žádné výsledky. Zkuste změnit filtry tabulky."
all: "Vše"
edit: "Upravit"
save: "Uložit"
do: "Provést"
activateUsers: "Aktivovat účty"
deactivateUsers: "Deaktivovat účet"
yesB: "ANO"
yes: "Ano"
no: "Ne"
noB: "NE"
Do: "Provést"
assignRfid: "Přiřadit RFID"