filter: "Filter data"
cancel: "Cancel"
nodata: "No records found. Try modify filters in table."
all: "All"
edit: "Edit"
save: "Save"
do: "Do"
activateUsers: "Activate accounts"
deactivateUsers: "Deactivate accounts"
yesB: "YES"
yes: "Yes"
no: "No"
noB: "NO"
Do: "Do"
datetimeRegistration: "Date/Time of registration"
lastLogin: "Last time of login"
assignRfid: "Assign RFID"
detail: "Detail"
