prefix:
    for: "message" #

visitor:
    name: "Attendance system"
    signin: "Sign in"
    signinMsg: "Sign in to start your session"
    password: "Password"
    signInPersistent: "Remember me"
    forgotPassword: "Forgot password"
    emailMissing: "You need to specify email!"
    passwordMissing: "You need to specify password!"
    email: "Email address"
    sigInSuccess: "Sign in was succesful!"
    signInError: "Email or password are incorrect!"
    signOutSuccess: "Sign out was successful!"
    permanentLogin: "Keep me logged in"
    registerNewUser: "Registration"
    passwordCheck: "Password check"
    firstName: "First name"
    surName: "Surname"
    missing: "This filed is required!"
    registerBtn: "Register me"
    passwordMatchError: "Passwords doesn't match!"
    emailExistReg: "This email is already in system!"
    regSuc: "Registration was succesfull!"
    registerMsg: "Registration form"
    forgotMsg: "You forgot your password? Here you can easily retrieve a new password."
    forgotSuccess: "Password was changed. Check you email inbox"
    forgotError: "Password was not changed. Email does not exist in system"
    send: "Send"
