prefix:
    for: "message"

"- select action -": "- Select action -"
"This field is required.": "This field is required."
"Please enter a valid integer.": "Please enter a valid integer!"
Do: "Do"
yesB: "YES"
yes: "Yes"
no: "No"
noB: "NO"
all: "All"
save: "Save"
cancel: "Cancel"

visitor:
    name: "Attendance system"
    signin: "Sign in"
    signinMsg: "Sign in to start your session"
    password: "Password"
    signInPersistent: "Remember me"
    forgotPassword: "Forgot password"
    emailMissing: "You need to specify email!"
    passwordMissing: "You need to specify password!"
    email: "Email address"
    sigInSuccess: "Sign in was succesful!"
    signInError: "Sign in was unsuccessful. Entered credentials are wrong or your account is disabled."
    signOutSuccess: "Sign out was successful!"
    permanentLogin: "Keep me logged in"
    registerNewUser: "Registration"
    passwordCheck: "Password check"
    firstName: "First name"
    surName: "Surname"
    missing: "This field is required!"
    registerBtn: "Register me"
    passwordMatchError: "Passwords doesn't match!"
    emailExistReg: "This email is already in system!"
    regSuc: "Registration was succesfull!"
    registerMsg: "Registration form"
    forgotMsg: "You forgot your password? Here you can easily retrieve a new password."
    forgotSuccess: "Password was changed. Check you email inbox"
    forgotError: "Password was not changed. Email does not exist in system"
    send: "Send"

main:
    roles:
        visitor: "Visitor"
        registered: "Registered user"
        manager: "Manager"
        admin: "Administrator"
    global:
        title: "Attendance system"
        logout: "Log out"
        localeChanged: "Language changed to english."
        home: "Home"
        missing: "This field is required!"
        yesB: "YES"
        yes: "Yes"
        no: "No"
        noB: "NO"
    profile:
        myprofile: "My Profile"
        rfid: "Personal RFID"
        pin: "Personal PIN"
        submit: "Submit"
        settings: "Settings"
        timeline: "Timeline"
        passwordChangedSuccessfully: "Password changed successfully!"
        currentPasswordIncorrect: "Current password is incorrect!"
        newPasswordsNotSame: "New passwords are not same!"
        oldPassword: "Current password"
        newPassword: "New password"
        newPasswordCheck: "Retype new password"
    menu:
        dashboard: "Dashboard"
        usersManagement: "Users management"
        managerModule: "Manager module"
        adminModule: "Administrator module"
    manager:
        registration: "Approved account?"
datagrid:

assignRfid:
    title: "Přiřadit osobní RFID uživateli"
