prefix:
    for: "zprava" # messages.prefix.for

visitor:
    name: "Docházkový systém"
    signin: "Přihlásit se"
    signinMsg: "Přihlaste se pro přístup do systému"
    password: "Heslo"
    signInPersistent: "Trvalé přihlášení"
    forgotPassword: "Zapomenuté heslo"
    emailMissing: "Musíte vyplnit email!"
    passwordMissing: "Musíte vyplnit heslo!"
    email: "Emailová adresa"
    sigInSuccess: "Přihlášení bylo úspěšné!"
    signInError: "Email nebo heslo jsou nesprávné!"
    signOutSuccess: "Odhlášení proběhlo úspěšně!"
    permanentLogin: "Trvalé přihlášení"
    registerNewUser: "Registrace"
    passwordCheck: "Kontrola hesla"
    firstName: "Křestní jméno"
    surName: "Příjmení"
    missing: "Toto pole je povinné!"
    registerBtn: "Registrovat"
    passwordMatchError: "Hesla se neshodují!"
    emailExistReg: "Tento email již v systému existuje!"
    regSuc: "Registrace byla úspěšná!"
    registerMsg: "Registrační formulář"
    forgotMsg: "Zadejte email pro obnovení hesla."
    forgotSuccess: "Změna hesla provedena. Zkontrolujte, prosím, vaši emailovou schránku."
    forgotError: "Změna hesla nebyla provedena. Email v systému neexistuje."
    send: "Odeslat"

main:
    global:
        title: "Docházkový systém"
        logout: "Odhlásit se"
    menu:
        dashboard: "Nástěnka"
