prefix:
    for: "zprava" # messages.prefix.for

visitor:
    name: "Docházkový systém"
    signin: "Přihlásit se"
    signinMsg: "Přihlaste se pro přístup do systému"
    password: "Heslo"
    signInPersistent: "Trvalé přihlášení"
    forgotPassword: "Zapomenuté heslo"
    emailMissing: "Musíte vyplnit email!"
    passwordMissing: "Musíte vyplnit heslo!"
    email: "Emailová adresa"
    sigInSuccess: "Přihlášení bylo úspěšné!"
    signInError: "Email nebo heslo jsou nesprávné!"
    signOutSuccess: "Odhlášení proběhlo úspěšně!"
    permanentLogin: "Trvalé přihlášení"
    registerNewUser: "Registrace"
    passwordCheck: "Kontrola hesla"
    firstName: "Křestní jméno"
    surName: "Příjmení"
    missing: "Toto pole je povinné!"
    registerBtn: "Registrovat"
    passwordMatchError: "Hesla se neshodují!"
    emailExistReg: "Tento email již v systému existuje!"
    regSuc: "Registrace byla úspěšná!"
    registerMsg: "Registrační formulář"
    forgotMsg: "Zadejte email pro obnovení hesla."
    forgotSuccess: "Změna hesla provedena. Zkontrolujte, prosím, vaši emailovou schránku."
    forgotError: "Změna hesla nebyla provedena. Email v systému neexistuje."
    send: "Odeslat"

main:
    roles:
        visitor: "Návštěvník"
        registered: "Registrovaný uživatel"
        manager: "Správce"
        admin: "Administrátor"
    global:
        title: "Docházkový systém"
        logout: "Odhlásit se"
        localeChanged: "Jazyk změněn na češtinu."
        home: "Domov"
        missing: "Toto pole je povinné!"
        yesB: "ANO"
        yes: "Ano"
        no: "Ne"
        noB: "NE"
    profile:
        myprofile: "Můj Profil"
        rfid: "Osobní RFID"
        pin: "Osobní pin"
        submit: "Potvrdit"
        settings: "Nastavení"
        timeline: "Události"
        passwordChangedSuccessfully: "Heslo úspěšně změněno!"
        currentPasswordIncorrect: "Současné heslo není správné!"
        newPasswordsNotSame: "Nová hesla se neshodují"
        oldPassword: "Aktuální heslo"
        newPassword: "Nové heslo"
        newPasswordCheck: "Zadejte nové heslo znovu"
    menu:
        dashboard: "Nástěnka"
        usersManagement: "Správa uživatelů"
        managerModule: "Modul manažera"
        adminModule: "Modul správce"
    manager:
        registration: "Schválený účet?"
datagrid:
    "- select action -": "- Vybrat akci -"
assignRfid:
    title: "Přiřadit osobní RFID uživateli"
