{define col-createdAt}
    <td class="grid-col-createdAt">
        {date_format($row->createdAt,"d.m.Y H:i:s")}
    </td>
{/define}

{define row-actions}
    <a href="{plink deleteNewRfid! $primary}" data-history="false" class="btn btn-primary btn-sm">{_all.delete}</a>
{/define}



