{define row-actions}
    <a href="{link edit! $primary}" data-datagrid-edit class="ajax btn btn-primary btn-sm m-1">{_all.edit}</a>
    <a href="{plink deleteSetting! $row->id}" onclick="return confirm({_all.really});" class="ajax btn btn-danger btn-sm m-1">{_all.delete}</a>
{/define}