{define row-actions}
    <a href="{link edit! $primary}" data-datagrid-edit class="ajax btn btn-primary btn-sm m-1">{_all.edit}</a>
    <a href="{plink newUserApiToken! $primary}" onclick="return confirm({_all.really});" data-history="false" data-datagrid-edit class="ajax btn btn-outline-primary btn-sm m-1">{_all.generateApi}</a>
    <a href="{plink deleteUser! $primary}" onclick="return confirm({_all.really});" data-history="false" class="btn btn-danger btn-sm m-1">{_all.delete}</a>
{/define}


{define col-registration}
    <td class="grid-col-registration">
        {switch $cell}
            {case 0}
            {_messages.main.global.noB}
            {case 1}
            {_messages.main.global.yesB}
            {default}
            {_messages.main.global.none}
        {/switch}
    </td>
{/define}

{define col-permission}
    <td class="grid-col-permission">
        {switch $cell}
            {case 0}
            {_messages.main.roles.visitor}
            {case 1}
            {_messages.main.roles.registered}
            {case 2}
            {_messages.main.roles.manager}
            {case 3}
            {_messages.main.roles.admin}
            {default}
            {_all.none}
        {/switch}
    </td>
{/define}


{define col-lastLogin}
    <td class="grid-col-lastLogin">
        {ifset $row->lastLogin}
            {date_format($row->lastLogin,"d.m.Y H:i:s")}
        {/ifset}
    </td>
{/define}

{define col-registrationDate}
    <td class="grid-col-registrationDate">
        {ifset $row->registrationDate}
            {date_format($row->registrationDate,"d.m.Y H:i:s")}
        {/ifset}
    </td>
{/define}




